.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cbd5e1;
  margin: 10px;
}
.footer-heading {
  color: #64748b;
  font-family: 'roboto';
  font-size: 40px;
}
